<!DOCTYPE html>
<html lang="en">
<head>
  <title>FreshCart - eCommerce HTML Template</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/auth/login.css">
</head>
<body>
    <section class="my-lg-14 my-8">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="logo">
            <img src="/assets/images/logo/image.png" class="logo_image">
          </div>
          <div class="login">
            <a th:href="${location}"><img src="/assets/images/login/kakao_login_medium_narrow.png" class="login_button"></a>
            <img src="/assets/images/login/btnG_완성형.png" class="login_button">
          </div>
        </div>
      </div>
    </section>
</body>
</html>