<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="en">
<head>
  <link rel="stylesheet" href="/assets/calendar-17/css/style.css">
  <link rel="stylesheet" href="/assets/calendar-17/css/rome.css">
  <meta charset="UTF-8">
  <title>reservation Page</title>
</head>
<body>
<main layout:fragment="content" th:class="container">
  <div class="modal fade" id="exampleModalToggle" data-bs-backdrop="static" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel">예약</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="content">
            <h2>예약 날짜</h2>
            <form action="#" class="row">
              <div class="col-md-12">
                <div id="inline_cal"></div>
              </div>
            </form>
            <h2 style="padding-top: 40px;">인원 수</h2>
            <div class="button-slider" id="person-buttons">
              <button type="button" class="circle-button">1</button>
              <button type="button" class="circle-button">2</button>
              <button type="button" class="circle-button">3</button>
              <button type="button" class="circle-button">4</button>
              <button type="button" class="circle-button">5</button>
              <button type="button" class="circle-button">6</button>
            </div>
            <h2 style="padding-top: 40px;">예약 시간</h2>
            <div class="button-slider" id="time-buttons">
              <button type="button" class="rectangle-button">오후 14 : 00</button>
              <button type="button" class="rectangle-button">오후 15 : 00</button>
              <button type="button" class="rectangle-button">오후 16 : 00</button>
              <button type="button" class="rectangle-button">오후 17 : 00</button>
              <button type="button" class="rectangle-button">오후 18 : 00</button>
              <button type="button" class="rectangle-button">오후 19 : 00</button>
              <button type="button" class="rectangle-button">오후 20 : 00</button>
            </div>
            <div class="clear">
              <button type="button" class="clear-button" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">예약 하기</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModalToggle2" data-bs-backdrop="static" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel2">결제</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="content">
            <h5>예약 날짜</h5>
            <div class="card">
              <h5>예약 장소 : 김이정</h5>
              <h5>예약 날짜 : 11월 3일 (일) 오후 14 : 00</h5>
              <h5 style="margin-bottom: 0px;">인원 수 : 1명</h5>
            </div>
          </div>
          <div class="content">
            <div class="d-flex align-items-center">
              <h5 style="margin-bottom: 0px;">위약금</h5>
              <a class="position-relative btn-icon btn-ghost-secondary btn rounded-circle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" style="color: #5AAB6F;" width="20" height="20" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                  <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                </svg>
              </a>

              <div class="dropdown-menu dropdown-menu-end dropdown-menu-lg p-0 border-radius-10" style="box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); background-color: #f6f6f6;">
                <div class="border-bottom p-3 d-flexjustify-content-between align-items-center border-1">
                  <p class="mb-3">위약금 정책</p>
                  <p><span style="color: #5AAB6F;">1.</span> 2일 전 취소: 100% 환불</p>
                  <p><span style="color: #5AAB6F;">2.</span> 1일 전 취소: 50% 환불</p>
                  <p><span style="color: #5AAB6F;">3.</span> 당일 취소: 환불 불가</p>
                  <p><span style="color: #5AAB6F;">4.</span> 노쇼: 환불 불가</p>
                </div>

              </div>
            </div>
            <div class="card">
              <h5>계산 : (예약 인원 수) x 10000</h5>
              <h5 style="margin-bottom: 0;">결제 총액 : 10000원</h5>
            </div>
          </div>
          <div class="content">
            <h5>결제 수단</h5>
            <div class="card">
              <h5 style="margin-right: auto;">결제 수단을 선택하세요.</h5>
              <button type="button" class="toss" id="toss1">
                <img src="/assets/images/payment/logo-toss-pay.svg" style="width: 30%;">
              </button>
              <button type="button" class="toss" style="margin-top: 20px;" id="toss2">
                <img src="/assets/images/payment/logo-toss-pay.svg" style="width: 30%;">
              </button>
              <h5 style="margin-top: 10px; margin-right: auto;">개인정보 제3자 제공고지</h5>
              <div class="card" style="background-color: #f6f6f6;">
                <p>wannaV는 회원들의 개인정보를 안전하게 취급하는 데 최선을 다합니다.</p>
                <p>고객님의 개인정보는 원활한 예약을 위한 기록 보존을 위해 아래 업체에 제공됩니다.</p>
                <p>1. 제공받는 자: 회원이 예약 신청한 식당, 예약관리 솔루션 wannaV 매장용</p>
                <p>2. 제공받는 자의 개인정보 이용 목적: 식당 예약 서비스 제공(서비스 계약 이행, 예약 확인, 예약 및 관리, 고객 관리) 및 제공 거절</p>
                <p>3. 제공하는 개인정보 항목: 전화번호, 예약 신청자 이름, 결제정보, 기타 예약 및 대기를 위해 필요한 정보</p>
                <p>4. 제공받는 자의 보유기간: 예약을 통한 식당 방문일로부터 1년이 경과한 때까지 보관.</p>
                <p style="font-weight: bold;">동의를 거부할 권리가 있으나, 서비스 제공을 위해 필요한 최소한의 개인정보이므로 동의 거부 시 wannaV 예약 서비스 이용이 제한됩니다.</p>
              </div>
            </div>
          </div>

          <div class="content-payment">
            <p style="font-size: 10px; margin-bottom: 0; display: flex; justify-content: center; align-items: center; font-weight: bold;">주문 내용을 확인하였으며, 정보 제공 등에 동의합니다.
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="checkbox" style="width: 20px; height: 20px;">
              <label class="form-check-label" style="font-size: 10px;">동의(필수)</label>
            </div>
            </p>
          </div>

          <div class="pay">
            <p style="font-weight: bold;">결제 금액: 10000원</p>
            <button type="button" class="button-payment" id="payment" disabled>결제 하기</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="clear">
    <button type="button" class="clear-button" data-bs-toggle="modal" href="#exampleModalToggle" style="font-size: 20px;">예약 하기</button>
  </div>
</main>
</body>
</html>
<script src="/assets/calendar-17/js/jquery-3.3.1.min.js"></script>
<script src="/assets/calendar-17/js/popper.min.js"></script>
<script src="/assets/calendar-17/js/bootstrap.min.js"></script>
<script src="/assets/calendar-17/js/rome.js"></script>
<script src="/assets/calendar-17/js/main.js"></script>
<script>
    const circleButtons = document.querySelectorAll('.circle-button');
    const rectangleButtons = document.querySelectorAll('.rectangle-button');

    circleButtons.forEach(button => {
        button.addEventListener('click', () => {
            circleButtons.forEach(btn => btn.classList.remove('selected'));
            button.classList.add('selected');
        });
    });

    rectangleButtons.forEach(button => {
        button.addEventListener('click', () => {
            rectangleButtons.forEach(btn => btn.classList.remove('selected'));
            button.classList.add('selected');
        });
    });

    document.getElementById('inline_cal').addEventListener('click', () => {
        circleButtons.forEach(button => button.classList.remove('selected'));
        rectangleButtons.forEach(button => button.classList.remove('selected'));
    });

    document.addEventListener("DOMContentLoaded", function() {
        const checkbox = document.querySelector('.form-check-input');
        const tossButton1 = document.getElementById('toss1');
        const tossButton2 = document.getElementById('toss2');
        const paymentButton = document.getElementById("payment");

        let toss1State = 0;
        let toss2State = 0;

        // 결제 버튼 활성화 함수
        function updatePaymentButtonState() {
            paymentButton.disabled = !(checkbox.checked && (toss1State === 1 || toss2State === 1));
        }

        function toggleTossState(buttonId, state) {
            if (state === 'toss1') {
                toss1State = toss1State === 0 ? 1 : 0;
                toss2State = 0;
            } else {
                toss2State = toss2State === 0 ? 1 : 0;
                toss1State = 0;
            }

            document.getElementById(buttonId).classList.toggle('select', state === 'toss1' ? toss1State === 1 : toss2State === 1);
            document.getElementById(buttonId === 'toss1' ? 'toss2' : 'toss1').classList.remove('select');

            console.log("toss1State:", toss1State);
            console.log("toss2State:", toss2State);

            // 버튼 클릭 시마다 결제 버튼 활성화 여부 확인
            updatePaymentButtonState();
        }

        // Toss 버튼 클릭 시 상태 변경 및 결제 버튼 활성화 확인
        tossButton1.addEventListener('click', () => toggleTossState('toss1', 'toss1'));
        tossButton2.addEventListener('click', () => toggleTossState('toss2', 'toss2'));

        // 체크박스 변경 시 결제 버튼 활성화 확인
        checkbox.addEventListener('change', updatePaymentButtonState);
    });
</script>